* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}


/* ===== Переменные ===== */

:root {
    --gap: 1em;
    --index: calc(1vw + 1vh);
    --color-dark: #000;
}

body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .1em;
    font-size: calc(var(--index) * 2.8);
    position: absolute;
    font-weight: 200;
    text-align: center;
    opacity: .85;
    margin-top: .2em;
}

.header span {
    display: block;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: calc(var(--index) * .75);
    margin-top: 5px;
}